main {
    
    display: flex;
    flex-direction: column;

    height: 100%;

  }

main h1{
    text-align: center;
    padding-bottom: 20px;

}



img{
    padding-bottom:20px;
 
}



main p{
    
    padding-bottom: 1rem;
    
}
  body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: rgb(var(--bs-tertiary-color-rgb));
  }
  
main li{
  margin-bottom: 10px
}
