.navbar-brand:hover{

    animation: bounce 1s cubic-bezier(0.25, 0.1, 0.25, 1);
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0) rotate(0deg) ;
    }
    50% {
      transform: translateY(10px) rotate(45deg);
    }
    100% {
      transform: translateY(0) rotate(0deg);
    }
  }

  .highlight {
    background-color: yellow;
  }

  .fade-in {
    opacity: 0; /* initial opacity */
    transition: opacity 1s; /* transition duration */
  }
  
  .fade-in.loaded {
    opacity: 1; /* final opacity */
  }
  
  
  
  