.navbar-brand:hover{

  transition: all 500ms ease-in-out;

  }


  
.navbar-brand:hover::before {
  content: "Rohan Jose's ";
}

  .highlight {
    background-color: yellow;
  }

  .fade-in {
    opacity: 0; /* initial opacity */
    transition: opacity 1s; /* transition duration */
  }
  
  .fade-in.loaded {
    opacity: 1; /* final opacity */
  }
  
.nav-item.active > a{
 color: white;
}