

p{
    text-align:center;
    color: black;
    
}

h1{
    text-align: center;
    color: darkslategray;
    font-weight: bold;
}

h2{
    text-align: center;
    color: rgb(75, 70, 70);
    font-style:initial;
}

#grad{
    background-image: linear-gradient(to-right,black,darkgray);
}


body{
    background-color: gray;
}



