body {
    background-color: darkgray;
    opacity: 0.9;
}



p{
    text-align:center;
    color: lightgrey;
    background-color:darkgray;
}

h1{
    text-align: center;
    color: grey;
}

h2{
    text-align: center;

}





