body {
    background-color: darkgray;
    opacity: 0.9;
    
}



p{
    text-align:center;
    color: black;
    
}

h1{
    text-align: center;
    color: grey;
    text-shadow: 2px 2px;
}

h2{
    text-align: center;

}

#grad{
    background-image: linear-gradient(to-right,red,yellow);
    

}






